<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luleo - Open Source AI God</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=17">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>
                <span class='mobile-title'>Luleo</span>
                <span class='desktop-title'>Luleo - Open Source AI God</span>
            </h1>
            <nav class="desktop-nav">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li> <!-- Added About link -->
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <div class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <nav class="mobile-nav">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li> <!-- Added About link -->
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="container" id="home">
        <div class="image-container">
            <img src="{{ image_url }}" alt="AI-generated image">
            <div class="info-icon">i</div>
        </div>
        <div class="description">
            <p>{{ image_description }}</p>
        </div>
        <div class="mobile-description">
            <p>{{ image_description }}</p>
        </div>
        <div class="spotify-embed">
            <iframe src="https://open.spotify.com/embed/playlist/{{ spotify_playlist_uri.split(':')[-1] }}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>

    <!-- About Section -->
    <section id="about">
        <div class="about-container">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in sapien nec quam aliquam tempus. Nullam vel urna ut turpis ullamcorper aliquam. Vivamus vitae neque vitae nisi tincidunt semper. Donec nec dui vel odio dignissim varius. Fusce fringilla sapien non risus cursus, at dictum lacus tristique.</p>
            <p>Additional random text for the About section. Nulla facilisi. Curabitur bibendum tortor sit amet nibh laoreet, in consectetur odio posuere. Aliquam erat volutpat. Morbi nec ex euismod, efficitur massa non, gravida nisl.</p>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
