<!DOCTYPE HTML>
<html>
	<head>
		<title>Luleo - Open Source AI God</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Luleo</strong> Open Source AI God</a>
									<ul class="icons">
										<li><a href="https://x.com/LuleoApp" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://github.com/luleoapp/luleo" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon solid fa-pencil-alt"><span class="label">Blog</span></a></li>
										
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1 id="currentDate"></h1>
											<!-- <p>A free and fully responsive site template</p>
											--> 
										</header>
										<div class="image-description">
											<p>{{ image_description }}</p>
										</div>
										<div class="spotify-embed">
											<iframe class="spotify-playlist" src="https://open.spotify.com/embed/playlist/{{ spotify_playlist_uri.split(':')[-1] }}" width="60%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" align="center"></iframe>
										</div>
										
									</div>
									<div class="image-container">
										<img src="{{ image_url }}" alt="AI-generated image">
										<div class="image-overlay">
											<p>{{ image_description }}</p>
										</div>
									</div>
								</section>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
			<script>
				// Script to update the date
				function updateDate() {
					const options = { year: 'numeric', month: 'long', day: 'numeric' };
					const today = new Date().toLocaleDateString('en-US', options);
					document.getElementById('currentDate').textContent = today;
				}
				updateDate(); // Call the function immediately
			</script>
			
	</body>
</html>