<!DOCTYPE HTML>
<html>
	<head>
		<title>Luleo - Open Source AI God</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
	</head>
	<!-- SVG Filter for Ripple Effect -->
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<filter id="ripple">
		<feTurbulence type="fractalNoise" baseFrequency="0.01 0.03" numOctaves="3" result="warp" id="turbulence">
			<animate
			attributeName="baseFrequency"
			dur="10s"
			values="0.01 0.03;0.03 0.01;0.01 0.03"
			repeatCount="indefinite"
			/>
		</feTurbulence>
		<feDisplacementMap
			in="SourceGraphic"
			in2="warp"
			scale="5"
			xChannelSelector="R"
			yChannelSelector="G"
		/>
		</filter>
	</svg>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header">
									<a href="#" class="logo">
										<img src="{{ url_for('static', filename='images/logo_transparent.png') }}" alt="Luleo Logo" style="height: 40px; margin-right: 5pm; vertical-align: middle;">
										<strong>Luleo</strong> Open Source AI God
									</a>
									
									<ul class="icons">
										<li><a href="https://x.com/LuleoApp" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://github.com/luleoapp/luleo" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon solid fa-pencil-alt"><span class="label">Blog</span></a></li>
									</ul>
								</header>
							<!-- Dynamic Content -->
							{% if page == 'home' %}
							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h2 id="currentDate"></h2>
											<p>Days to AGI: {{ days_to_agi }}</p>
										</header>
										<div class="image-description-container">
											<div id="typewriter" class="typewriter" data-description="{{ image_description }}"></div>
										</div>
										<div class="spotify-embed">
											<iframe class="spotify-playlist" src="https://open.spotify.com/embed/playlist/{{ spotify_playlist_uri.split(':')[-1] }}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" align="center"></iframe>
										</div>
										<div class="col-4 col-12-small">
											<input type="radio" id="demo-priority-low" name="demo-priority" checked>
											<label for="demo-priority-low">Low</label>
										</div>
										<div class="col-4 col-12-small">
											<input type="radio" id="demo-priority-normal" name="demo-priority">
											<label for="demo-priority-normal">Normal</label>
										</div>
										<div class="col-4 col-12-small">
											<input type="radio" id="demo-priority-high" name="demo-priority">
											<label for="demo-priority-high">High</label>
										</div>
									</div>
									<div class="image-container">
										<img id="ai-image" src="{{ image_url }}" alt="AI-generated image">
										<div class="image-overlay">
											<p>{{ image_description }}</p>
										</div>
									</div>
								</section>
							{% elif page == 'wisdom' %}
								<!-- Grid Section -->
								<section id="wisdom">
									<header>
									<h2>Wisdom</h2>
									</header>
									<p>{{ wisdom_headline }}</p>
									<div class="posts">
										{% for quote in wisdom_quotes %}
										<article>
											<div class="image">
												<img src="{{ quote.image_url }}">
											</div>
											<p>{{ quote.content }}</p>
										</article>
										{% endfor %}
									</div>
								</section>
							{% elif page == "love" %}
								<section id="love">
									<header>
									<h1>Love</h1>
									</header>
									<h2>{{ love_headline }}</h2>
									{% for l_input in love_inputs %}
									<div class="col-6 col-12-small">
										<p>{{ l_input.content }}</p>
									</div>
									{% endfor %}
								</section>
							{% elif page == "questions" %}
								<section id="questions">
									<header>
									<h2>Questions</h2>
									</header>
									<div class="posts">
										{% for q_input in questions %}
										<article>
											<p>{{ q_input.content }}</p>
										</article>
										{% endfor %}
									</div>
								</section>
							{% elif page == "agi" %}
								<section id="agi" style="padding-top: 2em;">
									{% if agi_vision_image_location %}
									<span class="image object" style="text-align: center; display: block; margin-top: 0;">
										<img src="{{ agi_vision_image_location }}" alt="" width="40%" style="margin: 0 auto;"/>
									</span>
									<h2>AGI</h2>
									{% endif %}
								
									{% for i in range(questions|length) %}
									<h3>{{ questions[i] }}</h3>
									<p>{{ answers[i] }}</p>
									{% endfor %}
								</section>
							{% elif page == "contribute" %}
								{% if submitted %}
								<section id="contribute" style="padding-top: 2em;">
									<h2>Contribute</h2>
									<p>Thank you for your contribution!</p>
									<a href="{{ url_for('contribute') }}" class="button primary">Contribute again</a>
								</section>
									{% if show_me_the_analysis %}
									<section id="contribute" style="padding-top: 2em;">
										<h2>Contribute</h2>
										<p>Thank you for your contribution!</p>
										<a href="{{ url_for('contribute') }}" class="button primary">Contribute again</a>
									</section>
									{% endif %}
								{% else %}
								<section id="contribute" style="padding-top: 2em;">
									<h2 style="padding-bottom: 0;">Contribute</h2>
									<p>Give us your ideas/thoughts!</p>
									<form method="post" action="{{ url_for('contribute') }}" enctype="multipart/form-data">
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall">
												<input type="text" name="name" id="name" value="" placeholder="Name" required />
											</div>
											<div class="col-6 col-12-small">
												<input type="checkbox" id="analysis" name="analysis">
												<label for="analysis">Show me the analysis</label>
											</div>
											<div class="col-6 col-12-small">
												<input type="checkbox" id="human" name="human">
												<label for="human">I am a human</label>
											</div>
											<div class="col-6 col-12-small">
												<input type="checkbox" id="ai" name="ai">
												<label for="ai">I am an AI</label>
											</div>
											
											<div class="col-6 col-12-xsmall">
												<input type="email" name="email" id="email" value="" placeholder="Email" required />
											</div>
											<div class="col-12">
												<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
											</div>
											<div class="file-upload" style="width: 100%;">
												<input type="file" name="file" id="file-upload" class="file-upload__input" accept="image/*,.pdf" max-size="10485760" />
												<label for="file-upload" class="file-upload__label">Choose an image or PDF</label>
												<div id="file-preview" class="file-upload__preview" style="display: none;">
													<img class="file-upload__preview-image" src="" alt="File preview" style="display: none;">
													<div class="file-upload__preview-document" style="display: none;">
														<div class="file-upload__preview-document-icon"></div>
														<div class="file-upload__preview-document-name"></div>
													</div>
												</div>
												<div class="file-upload__info">Max file size: 10MB. Accepted formats: Images, PDF</div>
											</div>
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" value="Send Message" class="primary" /></li>
													<li><input type="reset" value="Reset" id="reset-button" /></li>
												</ul>
											</div>
										</div>
									</form>								
								</section>
								{% endif %}
							{% endif %}

						</div>
					</div>
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<!-- <form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" disabled />
									</form> -->
								</section>

							<!-- Menu -->

							<section class="mini-posts">
								<h2>Menu</h2>
								<article>
								  <a href="{{ url_for('index') }}" class="image"><img src="{{ url_for('static', filename='images/logo_transparent.png') }}" alt="" /></a>
								  <div class="content">
									<h3><a href="{{ url_for('index') }}" >Home</a></h3>
								  </div>
								</article>
								<article>
									<a href="{{ url_for('agi') }}" class="image"><img src="{{ url_for('static', filename='images/agi_logo.png') }}" alt="" /></a>
									<div class="content">
									  <h3><a href="{{ url_for('agi') }}" >AGI</a></h3>
									</div>
								  </article>
								<article>
									<a href="{{ url_for('wisdom') }}" class="image"><img src="{{ url_for('static', filename='images/wisdom.png') }}" alt="" /></a>
								  <div class="content">
									<h3><a href="{{ url_for('wisdom') }}" ">Wisdom</a></h3>
								  </div>
								</article>
							
								<article>
									<a href="{{ url_for('love') }}" class="image"><img src="{{ url_for('static', filename='images/love.png') }}" alt="" /></a>
								  <div class="content">
									<h3><a href="{{ url_for('love') }}" ">Love</a></h3>
								  </div>
								</article>
								<article>
									<a href="{{ url_for('questions') }}" class="image"><img src="{{ url_for('static', filename='images/questions.png') }}" alt="" /></a>
								  <div class="content">
									<h3><a href="{{ url_for('questions') }}" ">Questions</a></h3>
								  </div>
								</article>
								<article>
									<a href="{{ url_for('contribute') }}" class="image"><img src="{{ url_for('static', filename='images/contribute.png') }}" alt="" /></a>
								  <div class="content">
									<h3><a href="{{ url_for('contribute') }}" ">Contribute</a></h3>
								  </div>
								</article>
							  </section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>About Luleo</h2>
									</header>
										<p>Luleo is an Open Source AI God Simulation. Its goal is to clarify what an AI God would be like.</p>
									
								</section>

							

							<!-- Footer -->
							<footer id="footer">
								<p class="copyright">&copy; 2024 MeanWhile Labs LLC. All rights reserved. Demo Images: 
								<a href="https://html5up.net">HTML5 UP</a>. Licensed under 
								<a href="https://creativecommons.org/licenses/by/3.0/">CCA 3.0</a>.</p>
							</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='js/typewriter.js') }}"></script>
			<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
			<script>
				// Script to update the date
				function updateDate() {
					const options = { year: 'numeric', month: 'long', day: 'numeric' };
					const today = new Date().toLocaleDateString('en-US', options);
					document.getElementById('currentDate').textContent = today;
				}
				updateDate(); // Call the function immediately
			</script>
			
			<script>
				document.querySelector('form').addEventListener('submit', function(e) {
					var message = document.getElementById('message').value.trim();
					var file = document.getElementById('file-upload').files[0];
					var name = document.getElementById('name').value.trim();
					var human = document.getElementById('human').checked;
					if (!message && !file) {
						e.preventDefault();
						alert('Please provide either a message or upload a file.');
					}
					if (!human) {
						e.preventDefault();
						alert('Please check the "I am a human" checkbox.');
					}
					if (!name) {
						e.preventDefault();
						alert('Please enter your name.');
					}
				});
				</script>
	</body>
</html>